---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
  firstName: "Brett",
  country: "Canada",
  occupation: "Software Developer",
  hobbies: ["Tennis", "Chess", "Hiking"]
};

const skills = ["HTML", "CSS", "Javascript", "React", "Astro", "Tailwindcss", "NodeJS", "MongoDB", "Writing Docs"];

---

<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to My Blog!</h1>

  <p>
    Hey there! I'm {identity.firstName}, a passionate Software Developer. Currently, I'm diving head first into the world of Fullstack Web Development and you're witnessing my journey unfold.
  </p>

  <br>

  <p>
    I live for {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}. When I'm not coding, you'll find me enjoying these activities and exploring the beautiful landscapes of Canada.
  </p>

  <br>

  <p>
   My focus currently is Astro, and this site will reflect my progress. Check back for updates and witness my journey!
  </p>

  <br />
  <br />

  <p>My skills include:</p>
   <!--  map over the skills here and display them -->
   <ul>
    {skills.map((skill, index) => (
      <li key={index}>{skill}</li>
    ))}
  </ul>
</BaseLayout>

<style>
    h1 {
      color: navy;
      font-size: 4rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      background-color: #f9a825;
      padding: 1rem;
      border-radius: 8px;
      display: inline-block;
      margin-right: 1rem;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  
    li:hover {
      background-color: #e0e0e0;
      color: #333;
    }
  </style>